---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Andrew Williams | About";

const identity = {
	firstName: "Andrew",
	lastName: "Williams",
	city: "Tallahassee",
	state: "Florida",
	degree: "Computer Engineering",
	hobbies: ["weightlifting", "mechanical keyboards"],
};

const skills = ["C++", "Embedded Systems", "Troubleshooting", "Customer Service"];

const skillColor = "green";
const fontWeight = "bold";
---
<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{skillColor, fontWeight}}>
		.skill {
			color : var(--skillColor);
			font-weight: var(--fontWeight);
		}
	</style>
	<p>Here are a few facts about me:</p>
	<u1>
		<li>My name is {identity.firstName} {identity.lastName}.</li>
		<li>I currently live in {identity.city}, {identity.state}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Some things I enjoy are {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</u1>
	<p>These are a few of my skills:</p>
	<u1>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</u1>
</BaseLayout>